In [1]:
# import dependencies
import pandas as pd
import json
import os

In [2]:
filePath = pd.read_csv("nuke_coordinates.csv")

csvDf = pd.DataFrame(filePath)

In [3]:
csvDf

,ID,Country,Code,Year,Quantity of Nuclear Weapons,Country_Year,GDP (Current LCU),Latitude,Longitude
0,0,China,CHN,1960,0,China 1960,1483.49,35.86166,104.195397
1,1,China,CHN,1961,0,China 1961,1089.96,35.86166,104.195397
2,2,China,CHN,1962,0,China 1962,1020.73,35.86166,104.195397
3,3,China,CHN,1963,0,China 1963,1098.53,35.86166,104.195397
4,4,China,CHN,1964,1,China 1964,1268.46,35.86166,104.195397
...,...,...,...,...,...,...,...,...,...
406,406,United States,USA,2010,4950,United States 2010,52843.80,37.09024,-95.712891
407,407,United States,USA,2011,4763,United States 2011,53278.32,37.09024,-95.712891
408,408,United States,USA,2012,4680,United States 2012,54082.08,37.09024,-95.712891
409,409,United States,USA,2013,4650,United States 2013,54701.35,37.09024,-95.712891
410,410,United States,USA,2014,4760,United States 2014,55636.37,37.09024,-95.712891

In [4]:
csvDf = csvDf.rename(columns={"Quantity of Nuclear Weapons":"Quantity_of_Nuclear_Weapons","GDP (Current LCU)":"GDP"})

In [5]:
updateDf = csvDf[['ID','Country_Year','Country','Code','Year','Quantity_of_Nuclear_Weapons','GDP','Latitude','Longitude']]

In [6]:
updateDf

,ID,Country_Year,Country,Code,Year,Quantity_of_Nuclear_Weapons,GDP,Latitude,Longitude
0,0,China 1960,China,CHN,1960,0,1483.49,35.86166,104.195397
1,1,China 1961,China,CHN,1961,0,1089.96,35.86166,104.195397
2,2,China 1962,China,CHN,1962,0,1020.73,35.86166,104.195397
3,3,China 1963,China,CHN,1963,0,1098.53,35.86166,104.195397
4,4,China 1964,China,CHN,1964,1,1268.46,35.86166,104.195397
...,...,...,...,...,...,...,...,...,...
406,406,United States 2010,United States,USA,2010,4950,52843.80,37.09024,-95.712891
407,407,United States 2011,United States,USA,2011,4763,53278.32,37.09024,-95.712891
408,408,United States 2012,United States,USA,2012,4680,54082.08,37.09024,-95.712891
409,409,United States 2013,United States,USA,2013,4650,54701.35,37.09024,-95.712891
410,410,United States 2014,United States,USA,2014,4760,55636.37,37.09024,-95.712891

In [7]:
updateDf.to_json('index_coordinates.json', orient='records')

In [26]:
result = updateDf['Country_Year'].unique()

In [ ]:
# Used the long string below to use as a key for the json file

In [27]:
result

array(['China 1960', 'China 1961', 'China 1962', 'China 1963',
       'China 1964', 'China 1965', 'China 1966', 'China 1967',
       'China 1968', 'China 1969', 'China 1970', 'China 1971',
       'China 1972', 'China 1973', 'China 1974', 'China 1975',
       'China 1976', 'China 1977', 'China 1978', 'China 1979',
       'China 1980', 'China 1981', 'China 1982', 'China 1983',
       'China 1984', 'China 1985', 'China 1986', 'China 1987',
       'China 1988', 'China 1989', 'China 1990', 'China 1991',
       'China 1992', 'China 1993', 'China 1994', 'China 1995',
       'China 1996', 'China 1997', 'China 1998', 'China 1999',
       'China 2000', 'China 2001', 'China 2002', 'China 2003',
       'China 2004', 'China 2005', 'China 2006', 'China 2007',
       'China 2008', 'China 2009', 'China 2010', 'China 2011',
       'China 2012', 'China 2013', 'China 2014', 'France 1960',
       'France 1961', 'France 1962', 'France 1963', 'France 1964',
       'France 1965', 'France 1966', 'France 1967', 'France 1968',
       'France 1969', 'France 1970', 'France 1971', 'France 1972',
       'France 1973', 'France 1974', 'France 1975', 'France 1976',
       'France 1977', 'France 1978', 'France 1979', 'France 1980',
       'France 1981', 'France 1982', 'France 1983', 'France 1984',
       'France 1985', 'France 1986', 'France 1987', 'France 1988',
       'France 1989', 'France 1990', 'France 1991', 'France 1992',
       'France 1993', 'France 1994', 'France 1995', 'France 1996',
       'France 1997', 'France 1998', 'France 1999', 'France 2000',
       'France 2001', 'France 2002', 'France 2003', 'France 2004',
       'France 2005', 'France 2006', 'France 2007', 'France 2008',
       'France 2009', 'France 2010', 'France 2011', 'France 2012',
       'France 2013', 'France 2014', 'India 1960', 'India 1961',
       'India 1962', 'India 1963', 'India 1964', 'India 1965',
       'India 1966', 'India 1967', 'India 1968', 'India 1969',
       'India 1970', 'India 1971', 'India 1972', 'India 1973',
       'India 1974', 'India 1975', 'India 1976', 'India 1977',
       'India 1978', 'India 1979', 'India 1980', 'India 1981',
       'India 1982', 'India 1983', 'India 1984', 'India 1985',
       'India 1986', 'India 1987', 'India 1988', 'India 1989',
       'India 1990', 'India 1991', 'India 1992', 'India 1993',
       'India 1994', 'India 1995', 'India 1996', 'India 1997',
       'India 1998', 'India 1999', 'India 2000', 'India 2001',
       'India 2002', 'India 2003', 'India 2004', 'India 2005',
       'India 2006', 'India 2007', 'India 2008', 'India 2009',
       'India 2010', 'India 2011', 'India 2012', 'India 2013',
       'India 2014', 'Israel 1960', 'Israel 1961', 'Israel 1962',
       'Israel 1963', 'Israel 1964', 'Israel 1965', 'Israel 1966',
       'Israel 1967', 'Israel 1968', 'Israel 1969', 'Israel 1970',
       'Israel 1971', 'Israel 1972', 'Israel 1973', 'Israel 1974',
       'Israel 1975', 'Israel 1976', 'Israel 1977', 'Israel 1978',
       'Israel 1979', 'Israel 1980', 'Israel 1981', 'Israel 1982',
       'Israel 1983', 'Israel 1984', 'Israel 1985', 'Israel 1986',
       'Israel 1987', 'Israel 1988', 'Israel 1989', 'Israel 1990',
       'Israel 1991', 'Israel 1992', 'Israel 1993', 'Israel 1994',
       'Israel 1995', 'Israel 1996', 'Israel 1997', 'Israel 1998',
       'Israel 1999', 'Israel 2000', 'Israel 2001', 'Israel 2002',
       'Israel 2003', 'Israel 2004', 'Israel 2005', 'Israel 2006',
       'Israel 2007', 'Israel 2008', 'Israel 2009', 'Israel 2010',
       'Israel 2011', 'Israel 2012', 'Israel 2013', 'Israel 2014',
       'Pakistan 1960', 'Pakistan 1961', 'Pakistan 1962', 'Pakistan 1963',
       'Pakistan 1964', 'Pakistan 1965', 'Pakistan 1966', 'Pakistan 1967',
       'Pakistan 1968', 'Pakistan 1969', 'Pakistan 1970', 'Pakistan 1971',
       'Pakistan 1972', 'Pakistan 1973', 'Pakistan 1974', 'Pakistan 1975',
       'Pakistan 1976', 'Pakistan 1977', 'Pakistan 1978', 'Pakistan 1979',
       'Pakistan 1980', 'Pakistan 1981', 'Pakistan 1982', 'Pakistan 1983',
       'Pakistan 1984', 'Pakistan 1985', 'Pakistan 1986', 'Pakistan 1987',
       'Pakistan 1988', 'Pakistan 1989', 'Pakistan 1990', 'Pakistan 1991',
       'Pakistan 1992', 'Pakistan 1993', 'Pakistan 1994', 'Pakistan 1995',
       'Pakistan 1996', 'Pakistan 1997', 'Pakistan 1998', 'Pakistan 1999',
       'Pakistan 2000', 'Pakistan 2001', 'Pakistan 2002', 'Pakistan 2003',
       'Pakistan 2004', 'Pakistan 2005', 'Pakistan 2006', 'Pakistan 2007',
       'Pakistan 2008', 'Pakistan 2009', 'Pakistan 2010', 'Pakistan 2011',
       'Pakistan 2012', 'Pakistan 2013', 'Pakistan 2014', 'Russia 1989',
       'Russia 1990', 'Russia 1991', 'Russia 1992', 'Russia 1993',
       'Russia 1994', 'Russia 1995', 'Russia 1996', 'Russia 1997',
       'Russia 1998', 'Russia 1999', 'Russia 2000', 'Russia 2001',
       'Russia 2002', 'Russia 2003', 'Russia 2004', 'Russia 2005',
       'Russia 2006', 'Russia 2007', 'Russia 2008', 'Russia 2009',
       'Russia 2010', 'Russia 2011', 'Russia 2012', 'Russia 2013',
       'Russia 2014', 'United Kingdom 1960', 'United Kingdom 1961',
       'United Kingdom 1962', 'United Kingdom 1963',
       'United Kingdom 1964', 'United Kingdom 1965',
       'United Kingdom 1966', 'United Kingdom 1967',
       'United Kingdom 1968', 'United Kingdom 1969',
       'United Kingdom 1970', 'United Kingdom 1971',
       'United Kingdom 1972', 'United Kingdom 1973',
       'United Kingdom 1974', 'United Kingdom 1975',
       'United Kingdom 1976', 'United Kingdom 1977',
       'United Kingdom 1978', 'United Kingdom 1979',
       'United Kingdom 1980', 'United Kingdom 1981',
       'United Kingdom 1982', 'United Kingdom 1983',
       'United Kingdom 1984', 'United Kingdom 1985',
       'United Kingdom 1986', 'United Kingdom 1987',
       'United Kingdom 1988', 'United Kingdom 1989',
       'United Kingdom 1990', 'United Kingdom 1991',
       'United Kingdom 1992', 'United Kingdom 1993',
       'United Kingdom 1994', 'United Kingdom 1995',
       'United Kingdom 1996', 'United Kingdom 1997',
       'United Kingdom 1998', 'United Kingdom 1999',
       'United Kingdom 2000', 'United Kingdom 2001',
       'United Kingdom 2002', 'United Kingdom 2003',
       'United Kingdom 2004', 'United Kingdom 2005',
       'United Kingdom 2006', 'United Kingdom 2007',
       'United Kingdom 2008', 'United Kingdom 2009',
       'United Kingdom 2010', 'United Kingdom 2011',
       'United Kingdom 2012', 'United Kingdom 2013',
       'United Kingdom 2014', 'United States 1960', 'United States 1961',
       'United States 1962', 'United States 1963', 'United States 1964',
       'United States 1965', 'United States 1966', 'United States 1967',
       'United States 1968', 'United States 1969', 'United States 1970',
       'United States 1971', 'United States 1972', 'United States 1973',
       'United States 1974', 'United States 1975', 'United States 1976',
       'United States 1977', 'United States 1978', 'United States 1979',
       'United States 1980', 'United States 1981', 'United States 1982',
       'United States 1983', 'United States 1984', 'United States 1985',
       'United States 1986', 'United States 1987', 'United States 1988',
       'United States 1989', 'United States 1990', 'United States 1991',
       'United States 1992', 'United States 1993', 'United States 1994',
       'United States 1995', 'United States 1996', 'United States 1997',
       'United States 1998', 'United States 1999', 'United States 2000',
       'United States 2001', 'United States 2002', 'United States 2003',
       'United States 2004', 'United States 2005', 'United States 2006',
       'United States 2007', 'United States 2008', 'United States 2009',
       'United States 2010', 'United States 2011', 'United States 2012',
       'United States 2013', 'United States 2014'], dtype=object)

In [13]:
result1 = pd.DataFrame(result)

In [24]:
result_string = result1.to_string()

In [23]:
result1

                      0
0            China 1960
1            China 1961
2            China 1962
3            China 1963
4            China 1964
..                  ...
406  United States 2010
407  United States 2011
408  United States 2012
409  United States 2013
410  United States 2014

[411 rows x 1 columns]

In [25]:
result_string

'                       0\n0             China 1960\n1             China 1961\n2             China 1962\n3             China 1963\n4             China 1964\n5             China 1965\n6             China 1966\n7             China 1967\n8             China 1968\n9             China 1969\n10            China 1970\n11            China 1971\n12            China 1972\n13            China 1973\n14            China 1974\n15            China 1975\n16            China 1976\n17            China 1977\n18            China 1978\n19            China 1979\n20            China 1980\n21            China 1981\n22            China 1982\n23            China 1983\n24            China 1984\n25            China 1985\n26            China 1986\n27            China 1987\n28            China 1988\n29            China 1989\n30            China 1990\n31            China 1991\n32            China 1992\n33            China 1993\n34            China 1994\n35            China 1995\n36            China 1996\n37            China 1997\n38            China 1998\n39            China 1999\n40            China 2000\n41            China 2001\n42            China 2002\n43            China 2003\n44            China 2004\n45            China 2005\n46            China 2006\n47            China 2007\n48            China 2008\n49            China 2009\n50            China 2010\n51            China 2011\n52            China 2012\n53            China 2013\n54            China 2014\n55           France 1960\n56           France 1961\n57           France 1962\n58           France 1963\n59           France 1964\n60           France 1965\n61           France 1966\n62           France 1967\n63           France 1968\n64           France 1969\n65           France 1970\n66           France 1971\n67           France 1972\n68           France 1973\n69           France 1974\n70           France 1975\n71           France 1976\n72           France 1977\n73           France 1978\n74           France 1979\n75           France 1980\n76           France 1981\n77           France 1982\n78           France 1983\n79           France 1984\n80           France 1985\n81           France 1986\n82           France 1987\n83           France 1988\n84           France 1989\n85           France 1990\n86           France 1991\n87           France 1992\n88           France 1993\n89           France 1994\n90           France 1995\n91           France 1996\n92           France 1997\n93           France 1998\n94           France 1999\n95           France 2000\n96           France 2001\n97           France 2002\n98           France 2003\n99           France 2004\n100          France 2005\n101          France 2006\n102          France 2007\n103          France 2008\n104          France 2009\n105          France 2010\n106          France 2011\n107          France 2012\n108          France 2013\n109          France 2014\n110           India 1960\n111           India 1961\n112           India 1962\n113           India 1963\n114           India 1964\n115           India 1965\n116           India 1966\n117           India 1967\n118           India 1968\n119           India 1969\n120           India 1970\n121           India 1971\n122           India 1972\n123           India 1973\n124           India 1974\n125           India 1975\n126           India 1976\n127           India 1977\n128           India 1978\n129           India 1979\n130           India 1980\n131           India 1981\n132           India 1982\n133           India 1983\n134           India 1984\n135           India 1985\n136           India 1986\n137           India 1987\n138           India 1988\n139           India 1989\n140           India 1990\n141           India 1991\n142           India 1992\n143           India 1993\n144           India 1994\n145           India 1995\n146           India 1996\n147           India 1997\n148           India 1998\n149           India 1999\n150           India 2000\n151           India 2001\n152           India 2002\n153           India 2003\n154           India 2004\n155           India 2005\n156           India 2006\n157           India 2007\n158           India 2008\n159           India 2009\n160           India 2010\n161           India 2011\n162           India 2012\n163           India 2013\n164           India 2014\n165          Israel 1960\n166          Israel 1961\n167          Israel 1962\n168          Israel 1963\n169          Israel 1964\n170          Israel 1965\n171          Israel 1966\n172          Israel 1967\n173          Israel 1968\n174          Israel 1969\n175          Israel 1970\n176          Israel 1971\n177          Israel 1972\n178          Israel 1973\n179          Israel 1974\n180          Israel 1975\n181          Israel 1976\n182          Israel 1977\n183          Israel 1978\n184          Israel 1979\n185          Israel 1980\n186          Israel 1981\n187          Israel 1982\n188          Israel 1983\n189          Israel 1984\n190          Israel 1985\n191          Israel 1986\n192          Israel 1987\n193          Israel 1988\n194          Israel 1989\n195          Israel 1990\n196          Israel 1991\n197          Israel 1992\n198          Israel 1993\n199          Israel 1994\n200          Israel 1995\n201          Israel 1996\n202          Israel 1997\n203          Israel 1998\n204          Israel 1999\n205          Israel 2000\n206          Israel 2001\n207          Israel 2002\n208          Israel 2003\n209          Israel 2004\n210          Israel 2005\n211          Israel 2006\n212          Israel 2007\n213          Israel 2008\n214          Israel 2009\n215          Israel 2010\n216          Israel 2011\n217          Israel 2012\n218          Israel 2013\n219          Israel 2014\n220        Pakistan 1960\n221        Pakistan 1961\n222        Pakistan 1962\n223        Pakistan 1963\n224        Pakistan 1964\n225        Pakistan 1965\n226        Pakistan 1966\n227        Pakistan 1967\n228        Pakistan 1968\n229        Pakistan 1969\n230        Pakistan 1970\n231        Pakistan 1971\n232        Pakistan 1972\n233        Pakistan 1973\n234        Pakistan 1974\n235        Pakistan 1975\n236        Pakistan 1976\n237        Pakistan 1977\n238        Pakistan 1978\n239        Pakistan 1979\n240        Pakistan 1980\n241        Pakistan 1981\n242        Pakistan 1982\n243        Pakistan 1983\n244        Pakistan 1984\n245        Pakistan 1985\n246        Pakistan 1986\n247        Pakistan 1987\n248        Pakistan 1988\n249        Pakistan 1989\n250        Pakistan 1990\n251        Pakistan 1991\n252        Pakistan 1992\n253        Pakistan 1993\n254        Pakistan 1994\n255        Pakistan 1995\n256        Pakistan 1996\n257        Pakistan 1997\n258        Pakistan 1998\n259        Pakistan 1999\n260        Pakistan 2000\n261        Pakistan 2001\n262        Pakistan 2002\n263        Pakistan 2003\n264        Pakistan 2004\n265        Pakistan 2005\n266        Pakistan 2006\n267        Pakistan 2007\n268        Pakistan 2008\n269        Pakistan 2009\n270        Pakistan 2010\n271        Pakistan 2011\n272        Pakistan 2012\n273        Pakistan 2013\n274        Pakistan 2014\n275          Russia 1989\n276          Russia 1990\n277          Russia 1991\n278          Russia 1992\n279          Russia 1993\n280          Russia 1994\n281          Russia 1995\n282          Russia 1996\n283          Russia 1997\n284          Russia 1998\n285          Russia 1999\n286          Russia 2000\n287          Russia 2001\n288          Russia 2002\n289          Russia 2003\n290          Russia 2004\n291          Russia 2005\n292          Russia 2006\n293          Russia 2007\n294          Russia 2008\n295          Russia 2009\n296          Russia 2010\n297          Russia 2011\n298          Russia 2012\n299          Russia 2013\n300          Russia 2014\n301  United Kingdom 1960\n302  United Kingdom 1961\n303  United Kingdom 1962\n304  United Kingdom 1963\n305  United Kingdom 1964\n306  United Kingdom 1965\n307  United Kingdom 1966\n308  United Kingdom 1967\n309  United Kingdom 1968\n310  United Kingdom 1969\n311  United Kingdom 1970\n312  United Kingdom 1971\n313  United Kingdom 1972\n314  United Kingdom 1973\n315  United Kingdom 1974\n316  United Kingdom 1975\n317  United Kingdom 1976\n318  United Kingdom 1977\n319  United Kingdom 1978\n320  United Kingdom 1979\n321  United Kingdom 1980\n322  United Kingdom 1981\n323  United Kingdom 1982\n324  United Kingdom 1983\n325  United Kingdom 1984\n326  United Kingdom 1985\n327  United Kingdom 1986\n328  United Kingdom 1987\n329  United Kingdom 1988\n330  United Kingdom 1989\n331  United Kingdom 1990\n332  United Kingdom 1991\n333  United Kingdom 1992\n334  United Kingdom 1993\n335  United Kingdom 1994\n336  United Kingdom 1995\n337  United Kingdom 1996\n338  United Kingdom 1997\n339  United Kingdom 1998\n340  United Kingdom 1999\n341  United Kingdom 2000\n342  United Kingdom 2001\n343  United Kingdom 2002\n344  United Kingdom 2003\n345  United Kingdom 2004\n346  United Kingdom 2005\n347  United Kingdom 2006\n348  United Kingdom 2007\n349  United Kingdom 2008\n350  United Kingdom 2009\n351  United Kingdom 2010\n352  United Kingdom 2011\n353  United Kingdom 2012\n354  United Kingdom 2013\n355  United Kingdom 2014\n356   United States 1960\n357   United States 1961\n358   United States 1962\n359   United States 1963\n360   United States 1964\n361   United States 1965\n362   United States 1966\n363   United States 1967\n364   United States 1968\n365   United States 1969\n366   United States 1970\n367   United States 1971\n368   United States 1972\n369   United States 1973\n370   United States 1974\n371   United States 1975\n372   United States 1976\n373   United States 1977\n374   United States 1978\n375   United States 1979\n376   United States 1980\n377   United States 1981\n378   United States 1982\n379   United States 1983\n380   United States 1984\n381   United States 1985\n382   United States 1986\n383   United States 1987\n384   United States 1988\n385   United States 1989\n386   United States 1990\n387   United States 1991\n388   United States 1992\n389   United States 1993\n390   United States 1994\n391   United States 1995\n392   United States 1996\n393   United States 1997\n394   United States 1998\n395   United States 1999\n396   United States 2000\n397   United States 2001\n398   United States 2002\n399   United States 2003\n400   United States 2004\n401   United States 2005\n402   United States 2006\n403   United States 2007\n404   United States 2008\n405   United States 2009\n406   United States 2010\n407   United States 2011\n408   United States 2012\n409   United States 2013\n410   United States 2014'